$primary: #219bb2;
$success: rgb(39, 185, 110);
$error: rgb(223, 56, 72);
$dark: rgba(0, 0, 0, 0.65);
$title: #333333;
$grey: #757575;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: Poppins;
}

.container {
  width: 50rem;
  margin: 4rem auto;
  display: flex;
  flex-flow: column;
  .logo {
    margin: 0 4rem;
    width: 280px;
    height: 63.72px;
    background: url("../img/savepay.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .title {
    margin: 0 4rem;
    font-size: 20.59px;
    font-weight: bold;
    color: $title;
  }

  .form {
    padding: 2rem 4rem;
    .form-group {
      width: 100%;
      margin-bottom: 2rem;
      .outlined-input-field {
        position: relative;
        width: 100%;

        i {
          position: absolute;
          top: 0.8rem;
        }

        .error-icon,
        .warning-icon,
        .helper-text {
          display: none;
        }

        label {
          background-color: #fff;
          color: $grey;
          cursor: text;
          position: absolute;
          top: 1rem;
          left: 1rem;
        }

        .outlined-text-field {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background-color: #fff;
          border: 1pt solid $grey;
          border-radius: 4px;
          color: $grey;
          padding: 1rem;
          width: calc(100% - 2.1rem);
        }

        .outlined-text-field:hover {
          border-color: $primary;
        }

        .outlined-text-field:focus {
          color: $dark;
          outline: none;
          border: 1px solid $primary;

          + label {
            color: $primary;
          }
        }
      }

      .inline-form-group {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-bottom: 2rem;
        width: 100%;

        div:nth-of-type(1) {
          margin-right: 1rem;
        }

        div:nth-of-type(2) {
          flex: 1 1 20em;
        }
      }

      .button {
        float: right;
        width: 13.1rem;
        height: 55px;
        background: $primary;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }

  .verified {
    display: flex;
    width: 200px;
    height: 40.46px;
    justify-content: center;
    align-items: center;
    background: url("../img/verified.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem auto;
  }
}
