@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  font-family: Poppins; }

.container {
  width: 50rem;
  margin: 4rem auto;
  display: flex;
  flex-flow: column; }
  .container .logo {
    margin: 0 4rem;
    width: 280px;
    height: 63.72px;
    background: url("../img/savepay.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  .container .title {
    margin: 0 4rem;
    font-size: 20.59px;
    font-weight: bold;
    color: #333333; }
  .container .form {
    padding: 2rem 4rem; }
    .container .form .form-group {
      width: 100%;
      margin-bottom: 2rem; }
      .container .form .form-group .outlined-input-field {
        position: relative;
        width: 100%; }
        .container .form .form-group .outlined-input-field i {
          position: absolute;
          top: 0.8rem; }
        .container .form .form-group .outlined-input-field .error-icon,
        .container .form .form-group .outlined-input-field .warning-icon,
        .container .form .form-group .outlined-input-field .helper-text {
          display: none; }
        .container .form .form-group .outlined-input-field label {
          background-color: #fff;
          color: #757575;
          cursor: text;
          position: absolute;
          top: 1rem;
          left: 1rem; }
        .container .form .form-group .outlined-input-field .outlined-text-field {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background-color: #fff;
          border: 1pt solid #757575;
          border-radius: 4px;
          color: #757575;
          padding: 1rem;
          width: calc(100% - 2.1rem); }
        .container .form .form-group .outlined-input-field .outlined-text-field:hover {
          border-color: #219bb2; }
        .container .form .form-group .outlined-input-field .outlined-text-field:focus {
          color: rgba(0, 0, 0, 0.65);
          outline: none;
          border: 1px solid #219bb2; }
          .container .form .form-group .outlined-input-field .outlined-text-field:focus + label {
            color: #219bb2; }
      .container .form .form-group .inline-form-group {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-bottom: 2rem;
        width: 100%; }
        .container .form .form-group .inline-form-group div:nth-of-type(1) {
          margin-right: 1rem; }
        .container .form .form-group .inline-form-group div:nth-of-type(2) {
          flex: 1 1 20em; }
      .container .form .form-group .button {
        float: right;
        width: 13.1rem;
        height: 55px;
        background: #219bb2;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-top: 15px;
        cursor: pointer; }
  .container .verified {
    display: flex;
    width: 200px;
    height: 40.46px;
    justify-content: center;
    align-items: center;
    background: url("../img/verified.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem auto; }
